<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/tryfav.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>LSTS</title>
</head>
<body>
    <header>
        <div class="logo-top">
            <img src="../static/images/logo lsts.jpg" alt="project logo">
        </div>
        <form action="" method="" class="searcher">
            <input type="text" onclick="window.location.href = '/units';" placeholder="Busque Aqui..." name="q">
            <button type="submit"><img src="../static/images/search.png" alt="lupa"></button>
        </form>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre Nós</a>
            <a href="/units">Remédios</a>
        </nav>
        <div class="menu-bar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <main>    
        <section class="about-us">
            <article>
                <h2>Sobre o Projeto</h2>
                <p>O LSTS foi criado com o intuito de solucionar a necessidade da população em terem maior acesso as informações relacionadas ao estoque de medicamentos das farmácias do SUS, foi criado um programa que possibilita o cadastro das farmácias, permitindo o acesso ao estoque para a população. Deste modo, os usuários através do programa, podem consultar a quantidade de medicamentos e quais unidades estão disponíveis, a fim de prevenir viagens desnecessárias e otimizar a distribuição de dessas informações.</p>
                <img style="position: relative; left: 50px; border-radius: 15px; bottom: 0.25rem;" src="../static/images/graf-rem.webp"></img>
                <p>Como é demostrado no gráfico acima, a quantidade de remédios disponíveis em unidades do SUS foi diminuindo com o decorrer da pandemia, porêm o lucro foi aumentando como é demonstrado abaixo:</p>
                <img style="position: relative; left: 50px; border-radius: 15px; bottom: 0.25rem;" src="../static/images/graf-lucr.png"></img>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy;Todos os direitos reservados </p>
    </footer>
</body>
</html>
