<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/tryfav.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>LSTS</title>
</head>
<body>
    <header>
        <div class="logo-top">
            <a href="/"><img src="../static/images/logo lsts.jpg" alt="project logo"></a>
        </div>
        <form action="" method="GET" class="searcher">
            <input type="hidden" name="unit" value="{{ title }}" />
            <input onClick="console.log('Linux is better')" id="search" type="text" placeholder="Busque Aqui...">
            <button disabled><img src="../static/images/search.png" alt="lupa"></button>
        </form>
        <nav class="menu-itens">
            <a href="/">仚 Home</a> <!-- 仚 Home -->
            <a href="/about">⎎ Sobre Nós</a> <!-- ⎎ Sobre Nós -->
            <a href="/units">✚ Remédios</a> <!-- ✚ Remédios -->
            <button class="openbtn" onclick="openNav1()">☰ Lista</button> 
        </nav>
        <div class="menu-bar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <main>
        <div id="list" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()">×</a>
            <h4 style="color: white; text-align: center; top: 10px; padding-left: 5px; padding-right: 5px; padding-bottom: 10px;">Click sobre o nome do remédio que deseja adicionar na lista:</h4>
            <img style="border-radius: 10px; display: block; margin-left: auto; margin-right: auto;" width=200 height=100 src="../static/images/ux.GIF"/>
            <button style="margin-top: 25px; margin-left: 20%;"class="openbtn download-btn"><b>Download CSV</b></button>
        </div>
        <section class="top">
            <h1 class="table__title">{{ title }}</h1>
            <h1 class="table__title">Remédios</h1>
            <table id="table" class="table">
                <tr class="table__header">
                    {% for header in headings %}
                    <th class="table__cell"> {{ header }} </th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr class="table__row">
                    {% for cell in row %}
                    <td {% if loop.index == middle_column %}class="middle-column table__cell"{% else %}class="table__cell"{% endif %}>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        <section class="about-us">
            <article>
                <h2>AVISO!</h2>
                <p>O LSTS foi criado com o intuito de solucionar a necessidade da população em terem maior acesso as informações relacionadas ao estoque de medicamentos das farmácias do SUS, mas por enquanto os medicamentos e quantidades descritos na tabela acima são totalmente fícticios, estando o projeto em FASE DE TESTE!</p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy;Todos os direitos reservados </p>
    </footer>
    <script src="static/search.js"></script>
<script>
function openNav1() {
  document.getElementById("list").style.width = "250px";
}

function closeNav1() {
  document.getElementById("list").style.width = "0";
}

$(document).ready(function() {
    // Add a click event handler to the table cells
    $('#table td.middle-column').click(function() {
      // Get the text content of the clicked cell
      var text = $(this).text();
      
      // Add a new list item containing the text to the list
      $('#list').append('<div class="added"><a>' + text + '</a><button class="openbtn delete"><img width=20 height=20 src="https://cdn.iconscout.com/icon/free/png-256/delete-737-475058.png"></img></button></div>');
    });
    
    // Add a click event handler to the delete buttons
    $(document).on('click', '.delete', function() {
      // Remove the parent list item of the clicked delete button
      $(this).parent().remove();
    });
  });



// Get the button element that will trigger the download
var downloadBtn = document.querySelector('.download-btn');

// Add a click event listener to the button
downloadBtn.addEventListener('click', function() {
  var divs = document.querySelectorAll('div.added');
  var values = [];
  for (var i = 0; i < divs.length; i++) {
  var a = divs[i].querySelector('a');
  var value = a.innerHTML;
  values.push(value);
  }
  // Create a CSV file using the values array
  var csv = 'data:text/csv;charset=utf-8,';
  values.forEach(function(row) {
    csv += row + '\r\n';
  });

  // Create a temporary link element to trigger the download
  var link = document.createElement('a');
  link.setAttribute('href', encodeURI(csv));
  link.setAttribute('download', 'my-data.csv');
  document.body.appendChild(link);

  // Click the link to start the download
  link.click();
});


</script>
</body>
</html>
