<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/tryfav.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>LSTS</title>
</head>
<body>
    <header>
        <div class="logo-top">
            <a href="/"><img src="../static/images/logo lsts.jpg" alt="project logo"></a>
        </div>
        <form action="" method="GET" class="searcher">
            <input type="hidden" name="unit" value="{{ title }}" />
            <input onClick="console.log('Linux is better')" id="search" type="text" placeholder="Busque Aqui...">
            <button disabled><img src="../static/images/search.png" alt="lupa"></button>
        </form>
        <nav class="menu-itens">
            <a href="/">Home</a> <!-- 仚 Home -->
            <a href="/about">Sobre Nós</a> <!-- ⎎ Sobre Nós -->
            <a href="/units">Remédios</a> <!-- ✚ Remédios -->
            <button class="openbtn" onclick="openNav()">☰ Lista</button> 
        </nav>
        <div class="menu-bar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <main>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div>
                <a href="#">ibuprofeno</a>
                <button class="openbtn"><img width=20 height=20 src="https://cdn.iconscout.com/icon/free/png-256/delete-737-475058.png"></img></button>
            </div>
            <div>
                <a href="#">dipirona</a>
                <button class="openbtn"><img width=20 height=20 src="https://cdn.iconscout.com/icon/free/png-256/delete-737-475058.png"></img></button>
            </div>
            <div>
                <a href="#">isotretinoina</a>
                <button class="openbtn"><img width=20 height=20 src="https://cdn.iconscout.com/icon/free/png-256/delete-737-475058.png"></img></button>
            </div>
            <div>
                <a href="#">dorflex</a>
                <button class="openbtn"><img width=20 height=20 src="https://cdn.iconscout.com/icon/free/png-256/delete-737-475058.png"></img></button>
            </div>
            <h2 style="color: white; text-align: center; top: 10px;">Work in Progress</h2>
        </div>
        <section class="top">
            <h1 class="table__title">{{ title }}</h1>
            <h1 class="table__title">Remédios</h1>
            <table id="table" class="table">
                <tr class="table__header">
                    {% for header in headings %}
                    <th class="table__cell"> {{ header }} </th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr class="table__row">
                    {% for cell in row %}
                    <td class="table__cell">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        <section class="about-us">
            <article>
                <h2>AVISO!</h2>
                <p>O LSTS foi criado com o intuito de solucionar a necessidade da população em terem maior acesso as informações relacionadas ao estoque de medicamentos das farmácias do SUS, mas por enquanto os medicamentos e quantidades descritos na tabela acima são totalmente fícticios, estando o projeto em FASE DE TESTE!</p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy;Todos os direitos reservados </p>
    </footer>
    <script src="static/search.js"></script>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
}
</script>
</body>
</html>
