<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/tryfav.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>LSTS</title>
</head>
<body>
    <header>
        <div class="logo-top">
            <img src="../static/images/logo lsts.jpg" alt="project logo">
        </div>
        <form action="" method="GET" class="searcher">
            <input type="hidden" name="unit" value="{{ title }}" />
            <input type="text" placeholder="Busque Aqui..." name="q">
            <button href="javascript:document.search.submit()"><img src="../static/images/search.png" alt="lupa"></button>
        </form>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre Nós</a>
            <a href="/units">Remédios</a>
        </nav>
        <div class="menu-bar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <main>
        <section class="top">
            <h1 class="table__title">{{ title }}</h1>
            <h1 class="table__title">Remédios</h1>
            <table class="table">
                <tr class="table__header">
                    {% for header in headings %}
                    <th class="table__cell"> {{ header }} </th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr class="table__row">
                    {% for cell in row %}
                    <td class="table__cell">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        <h1 style="color: white;">-</h1>
        <h1 style="color: white;">-</h1>
        <h1 style="color: white;">-</h1>
        <h1 style="color: white;">-</h1>
        <h1 style="color: white;">-</h1>
        <h1 style="color: white;">-</h1>
        <h1 style="color: white;">-</h1>
        <h1 style="color: white;">-</h1>
        <section class="about-us">
            <article>
                <h2>Sobre o Projeto</h2>
                <p>O LSTS foi criado com o intuito de solucionar a necessidade da população em terem maior acesso as informações relacionadas ao estoque de medicamentos das farmácias do SUS, foi criado um programa que possibilita o cadastro das farmácias, permitindo o acesso ao estoque para a população.</p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy;Todos os direitos reservados </p>
    </footer>
</body>
</html>
