<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/tryfav.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
    <title>LSTS</title>
</head>
<body>
    <header>
        <div class="logo-top">
            <a href="/"><img src="../static/images/logo lsts.jpg" alt="project logo"></a>
        </div>
        <form action="" method="" class="searcher">
            <input type="text" onclick="window.location.href = '/units';" placeholder="Busque Aqui..." name="q">
            <button type="submit"><img src="../static/images/search.png" alt="lupa"></button>
        </form>
        <nav class="menu-itens">
            <a href="/">仚 Home</a> <!-- 仚 Home -->
            <a href="/about">⎎ Sobre Nós</a> <!-- ⎎ Sobre Nós -->
            <a href="/units">✚ Remédios</a> <!-- ✚ Remédios -->
        </nav>
        <div class="menu-bar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>
    <main>
        <section class="top">
            <a href="https://www.gov.br/saude/pt-br/assuntos/conecte-sus"><img src="../static/images/banner-topo-covid-vacina.png" alt="imagem de campanha pró vacinação"></a>
        </section>
        <section class="banner">
            <img src="../static/images/goodimage.jpg" alt="Nossa publicidade">
        </section>
        <section class="about-us">
            <article>
                <h2>Nosso Objetivo</h2>
                <p>O LSTS foi criado com o intuito de solucionar a necessidade da população em terem maior acesso as informações relacionadas ao estoque de medicamentos das farmácias do SUS, foi criado um programa que possibilita o cadastro das farmácias, permitindo o acesso ao estoque para a população.</p>
            </article>
        </section>
    </main>
    <footer>
        <p>&copy;Todos os direitos reservados </p>
    </footer>
</body>
</html>
