<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  <link rel="shortcut icon" href="../static/images/tryfav.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <section style="background-color: #222222;" class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <form method="POST">
              <div class="field">
              <div class="columns is-centered">
                <div class="column is-half is-centered is-relative" style="display: grid; place-items: center;">
                    <img class="image is-48x48" src="static/images/logosmall.png"/>
                    <label style="color: white" class="label is-large">LSTS Login</label>
                </div>
              </div>
                <label style="color: white" class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" name="username" placeholder="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label style="color: white" class="label">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" name="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <div class="control">
                  <label style="color: white" class="label">Unidade</label>
                  <p class="control has-icons-left">
                    <input class="input" type="text" name="unit" placeholder="Unidade">
                    <span class="icon is-small is-left">
                      <i class="fas fa-home"></i>
                    </span>
                  </p>
                </div>
              </div>
              <div class="field">
                <p class="control">
                  <button type="submit" class="button is-success">
                    Login
                  </button>
                </p>
              </div>
              {% with messages = get_flashed_messages() %}
                  {% if messages %}
                      {% for message in messages %}
                         <div class="field">
                            <article class="message is-danger">
                                <div class="message-body">
                                  {{ message }}
                                </div>
                            </article>
                      {% endfor %}
                  {% endif %}
              {% endwith %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>